<html>
    <style>
        
        body{
            text-align:center;
            background-color:rebeccapurple;
        }
    </style>
    <body>
        <h1>Login Form</h1><br><br>
        
        <form action='login' method='post'>
            {% csrf_token %}
            <input type="text"  placeholder="username" name="username" required >
            <input type="password" placeholder="password" name="password" required>
            <br><input type="submit"/>
        </form>
        
    </body>
</html>